# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
ios/RCTWebRTC.xcodeproj/xcuserdata
ios/RCTWebRTC.xcodeproj/project.xcworkspace
.DS_Store
.idea

# Android/IntelliJ
#
android/build/
android/.idea
android/.gradle
android/local.properties
android/*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log
