# Dependency directory
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
xcuserdata
project.xcworkspace
.DS_Store
.idea
android/build
Podfile.lock
WebRTC.xcframework
WebRTC.dSYMs

