<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oney.WebRTCModule"
          xmlns:tools="http://schemas.android.com/tools"
    >

    <meta-data android:name="firebase_messaging_installation_id_enabled" android:value="true" />
    <service
        android:name=""
        android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
    </service>
</manifest>
