<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.oney.WebRTCModule"
          xmlns:tools="http://schemas.android.com/tools"
    >
    <application>
        <service
                android:name=".MediaProjectionService"
                android:foregroundServiceType="mediaProjection">
        </service>
    </application>
</manifest>
